<!doctype html>
<html lang="{{ site.lang }}">
<head>
{% include head.html %}
</head>
<body class="{{ page.body_class | default: page.layout }}">
  {% if site.botanical %}<div class="botanical" aria-hidden="true" style="background-image:url('{{ site.botanical | relative_url }}')"></div>{% endif %}
  <div class="page">
    {% include header.html %}
    <main id="main">
{{ content }}
    </main>
    {% include footer.html %}
  </div>
  <script src="{{ '/assets/js/reveal.js' | relative_url }}" defer></script>
  {% if page.url == '/' %}<script src="{{ '/assets/js/carousel.js' | relative_url }}" defer></script>{% endif %}
</body>
</html>
